.places {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 47px;
}

@media screen and (min-width: 768px) {
  .places {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 282px);
    margin: 0 auto;
    column-gap: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    grid-template-columns: repeat(3, 282px);
    max-width: 80%;
  }
}
